<header class="ltn__header-area ltn__header-3">       
    <!-- ltn__header-top-area start -->
    <div class="ltn__header-top-area border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="ltn__top-bar-menu">
                        <ul>
                            <li><a href="mailto:adwaithrrajesh.k@gmail.com?Subject=Flower%20greetings%20to%20you">adwaithrrajesh.k@gmail.com </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="top-bar-right text-right text-end">
                        <div class="ltn__top-bar-menu">
                            <ul>
                                <li>
                                    <!-- ltn__social-media -->
                                    <div class="ltn__social-media">
                                        <ul>
                                            <li><a href="https://twitter.com/AdwaithRRajesh" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/adwaithrrajesh/" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/adwaith-r-rajesh-333545243/" title="linkedin"><i class="fab fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ltn__header-top-area end --> 

    <!-- ltn__header-middle-area start -->
    <div class="ltn__header-middle-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="site-logo">
                        <a href="/"><img src="/img/logo.png" alt="Logo"></a>
                    </div>
                </div>
                <div class="col header-contact-serarch-column d-none d-lg-block">
                    <div class="header-contact-search">
                        <!-- header-feature-item -->
                        <div class="header-feature-item">
                            <div class="header-feature-info">
                                <h6>Phone</h6>
                                <p><a href="tel:7994734828">+91 79934734828</a></p>
                            </div>
                        </div>
                        <!-- header-search-2 -->
                        <div class="header-search-2">

                            <form id="#123" method="post"  action="/search">
                                <input type="text" name="searchinput" placeholder="Search here..."/>
                                <button type="submit">
                                    <span><img src="https://cdn-icons-png.flaticon.com/512/3917/3917754.png"  style="height:20px;"  alt="search icon"></span>
                                </button>
                            </form>

                        </div>


                    </div>
                </div>
                <div class="col">
                    <!-- header-options -->
                    <div class="ltn__header-options">
                        <ul>
                            <li class="d-none">
                                <!-- ltn__currency-menu -->
                            </li>
                            <li class="d-lg-none">
                                <!-- header-search-1 -->
                                <div class="header-search-wrap">
                                    <div class="header-search-1">
                                        <div class="search-icon">
                                            <i class="icon-search  for-search-show"></i>
                                            <i class="icon-cancel  for-search-close"></i>
                                        </div>
                                    </div>
                                    <div class="header-search-1-form">
                                        <form id="#" method="get"  action="#">
                                            <input type="text" name="search" value="" placeholder="Search here..."/>
                                            <button type="submit">
                                                <span><i class="icon-search"></i></span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li class="d-none---"> 
                                <!-- user-menu -->
                                <div class="ltn__drop-menu user-menu">
                                    <ul>
                                        <li>
                                         <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" style="height:30px; margin-bottom: 18px;"  alt="user_icon"></a>

                                            <ul>
                                                <% if (user) { %>
                                                    <li><a href="/userProfile">My Account</a></li>
                                                    <li><a href="/wishlist">Wishlist</a></li>
                                                    <li><a href="/coupon">Coupons</a></li>
                                                    <li><a href="/"><%=user.Email%></a></li>
                                                    <li><a href="/logout">Logout</a></li>
                                                    <%} else { %>
                                                        <li><a href="/login">Login</a></li>
                                                        <li><a href="/register">Register</a></li>
                                                    <% } %>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <!-- mini-cart 2 -->
                                <% if (user) { %>
                                    <a href="/cart">
                                        <span class="mini-cart-icon">
                                            <img src="https://visualpharm.com/assets/482/Shopping%20Cart-595b40b65ba036ed117d241c.svg" style="height: 30px;"  alt="Cart image">
                                        </span>
                                    </a>
                                    <%} else { %>
                                        <a href="/login">
                                            <span class="mini-cart-icon">
                                                <img src="https://visualpharm.com/assets/482/Shopping%20Cart-595b40b65ba036ed117d241c.svg" style="height: 30px;"  alt="Cart image">
                                            </span>
                                        </a>
                                <% } %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ltn__header-middle-area end -->
    <!-- header-bottom-area start -->
    <div class="header-bottom-area ltn__border-top ltn__header-sticky  ltn__sticky-bg-white--- ltn__sticky-bg-secondary ltn__secondary-bg section-bg-1 menu-color-white d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col header-menu-column justify-content-center">
                    <div class="sticky-logo">
                        <div class="site-logo">
                            <a href="index.html"><img src="/img/logo.png" alt="Logo"></a>
                        </div>
                    </div>
                    <div class="header-menu header-menu-2">
                        <nav>
                            <div class="ltn__main-menu">
                                <ul>
                                    <li ><a href="/">Home</a> </li>
                                    <li><a href="#">About</a>
                                    </li>
                                    <li><a href="/shop">Shop</a></li>
                                    <li><a href="/">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-bottom-area end -->
</header>